@CHARSET "UTF-8";

/* universal */
html {
    position: relative;
    min-height: 100%;
    min-width: 375px;
    overflow-y: scroll;
}

body {
    height:100%;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","メイリオ","Meiryo UI", sans-serif;
    padding-top: 55px;
    /* Margin bottom by footer height */
    margin-bottom: 85px;
}

.navbar-fixed-top {
    margin-bottom: 24px;
    border-width: 0;
}

.container-fluid {
    margin-right: 19px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

/* header */
/* navbar 全体の背景色とボーダーカラー */
.navbar-default {
    background-color: #ff9900;
}
/* navbar テキストカラー */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

/* navbar hover,focus時のテキストカラー */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #505050;
    background-color: #ffffff;
}

/* navbar active設定時のカラー */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #505050;
    background-color: #ffffff;
}

.navbar-default .navbar-text{
    color: #ffffff;
}

/* navbar ドロップダウン(親)のカラー */
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #505050;
    background-color: #ffffff;
}

/* navbar 画面サイズ767px以下の時のカラー */
@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        color: #505050;
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #505050;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #505050;
        background-color: #f5f5f5;;
    }
    /* ドロップダウンactive設定時のカラー */
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #ff9900;
        background-color: #f5f5f5;
    }
}

/* navbar ハンバーガー四角枠 */
.navbar-default .navbar-toggle {
    border-color: #ff9900;
}
/* navbar ハンバーガー三本線 */
.navbar-default .navbar-toggle .fa-bars {
    color: #ffffff;
    background-color: #ff9900;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-default .navbar-toggle:focus > .fa-bars,
.navbar-default .navbar-toggle:hover > .fa-bars {
    color: #505050;
    background-color: #ffffff;
}

/* navbar Brandのカラー */
.navbar-default .navbar-brand {
    font-family: 'HGP創英角ﾎﾟｯﾌﾟ体','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #ffffff;
    padding-left: 60px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
}

header {
    border-top: 1px solid #eaeaea;
    color: #999;
}

.header{
    width: 100%;
    display: table;
    table-layout: fixed;
}

.header-cat{
    display: table-cell;
    width: 15%;
    height:100%;
    vertical-align: middle;
}

.header-cal{
    display: table-cell;
    width: 85%;
    height:100%;
    vertical-align: middle;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
}

input {
    height: auto;
}

.input-group, .bootstrap-select {
    z-index: 0;
}

.bootstrap-select.open {
    z-index: 1;
}

textarea {
    resize: vertical;
}

.list_menu {
    min-height: 100%;
    height: auto;
    /* フッターの高さ分だけ、ネガティブインデントを指定 */
    margin: 85px auto -120px;
    /* フッターの高さ分だけ、パディングを指定 */
    padding: 0 0 120px;
}

.rd3 {
    border-radius: 3px;
}

.rd5 {
    border-radius: 5px;
}

.rd8 {
    border-radius: 8px;
}

.rd15 {
    border-radius: 15px;
}

.rd24 {
    border-radius: 24px;
}

.font-pop {
    font-family: 'HGP創英角ﾎﾟｯﾌﾟ体','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
}

span.label-required {
    background-color: #ee6557;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 3px;
    margin: 0;
}

span.label-news {
    background-color: #222222;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 3px 4px;
    margin: 1px 0 3px 0;
    cursor: pointer;
}

.input-group.date input[type="text"][readonly] {
    background: #fff;
}

.bg-white {
    background: #fff;
}

.bg-light-gray {
    background: #f5f5f5;
}

.btn-orange {
    color: #fff;
    background-color: #ff9900;
/*    border-color: #f57c00;*/
}
.btn-orange:focus,
.btn-orange.focus {
    color: #fff;
    background-color: #ef6c00;
/*    border-color: #e65100;*/
}
.btn-orange:hover {
    color: #fff;
    background-color: #ef6c00;
/*    border-color: #bf360c;*/
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
    color: #fff;
    background-color: #ef6c00;
/*    border-color: #bf360c;*/
}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {
    color: #fff;
    background-color: #bf360c;
/*    border-color: #e65100;*/
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
    background-image: none;
}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus {
    background-color: #ff9900;
/*    border-color: #f57c00;*/
}
.btn-orange .badge {
    color: #ff9900;
    background-color: #fff;
}

/* 削除ボタン */
.btn-delete {
    color: #444;
    background-color: #bdbdbd;
    /*    border-color: #f57c00;*/
}
.btn-delete:focus,
.btn-delete.focus {
    color: #444;
    background-color: #9e9e9e;
    /*    border-color: #e65100;*/
}
.btn-delete:hover {
    color: #444;
    background-color: #9e9e9e;
    /*    border-color: #bf360c;*/
}
.btn-delete:active,
.btn-delete.active,
.open > .dropdown-toggle.btn-delete {
    color: #444;
    background-color: #757575;
    /*    border-color: #bf360c;*/
}
.btn-delete:active:hover,
.btn-delete.active:hover,
.open > .dropdown-toggle.btn-delete:hover,
.btn-delete:active:focus,
.btn-delete.active:focus,
.open > .dropdown-toggle.btn-delete:focus,
.btn-delete:active.focus,
.btn-delete.active.focus,
.open > .dropdown-toggle.btn-delete.focus {
    color: #444;
    background-color: #757575;
    /*    border-color: #e65100;*/
}
.btn-delete:active,
.btn-delete.active,
.open > .dropdown-toggle.btn-delete {
    background-image: none;
}
.btn-delete.disabled:hover,
.btn-delete[disabled]:hover,
fieldset[disabled] .btn-delete:hover,
.btn-delete.disabled:focus,
.btn-delete[disabled]:focus,
fieldset[disabled] .btn-delete:focus,
.btn-delete.disabled.focus,
.btn-delete[disabled].focus,
fieldset[disabled] .btn-delete.focus {
    background-color: #bdbdbd;
    /*    border-color: #f57c00;*/
}
.btn-delete .badge {
    color: #bdbdbd;
    background-color: #444;
}

.box {
    box-shadow: -1px 1px 5px 0 #b2b2b2;
    -webkit-box-shadow: -1px 1px 5px 0 #b2b2b2;
    -moz-box-shadow: -1px 1px 5px 0 #b2b2b2;
}

a.cal-day {
    margin: 3px;
    padding: 4px 8px;
    text-decoration: none;
    cursor: pointer;
    color: #222222;
}

a.cal-day:hover {
    background-color: #ee6557;
    color: #fff;
    border-radius: 8px;
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
}

a.cal-selected {
    background-color: #ee6557;
    color: #fff;
    border-radius: 8px;
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
    cursor: pointer;
}

.bb-alert
{
    position: fixed;
    top: 20%;
    right: 0;
    margin-bottom: 0;
    font-size: small;
    z-index: 2000;
}

/* リスト表示する時のメニューカテゴリ画像 トリミング用 */
.img-menu-category {
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin: 5px;
}

.img-menu-category img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* リスト表示する時のメニュー画像 トリミング用 */
.img-menu {
    overflow: hidden;
    width: 200px;
    height: 140px;
    margin: 5px;
}

.img-menu img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* 登録時のメニュー画像 トリミング用 */
.img-menu-form {
    overflow: hidden;
    width: 315px;
    height: 221px;
    margin-top: 5px;
}

.img-menu-form img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* ヘッダーの固定 */
div#header-fixed
{
    position: fixed;           /* ヘッダーの固定 */
    top: 75px;                 /* 位置(上75px) */
    left: 0;                   /* 位置(右0px) */
    width: 100%;               /* 横幅100% */
    height: 70px;              /* 縦幅70px */
    z-index: 2;
}

div#header-bk {
    background-color:#fff;     /* 背景色(白) */
    padding:7px 0 0;           /* 上7pxをあける */
    height:70px;               /* 縦の高さ70px */
    width:100%;                /* 横の幅を100% */
}

/* フッターの固定 */
div#footer-fixed
{
    position: fixed;           /* フッターの固定 */
    bottom: -30px;             /* 位置(下-30px) */
    left: 0;                   /* 位置(左0px) */
    width: 100%;               /* 横幅100% */
    height: 80px;              /* 縦幅80px */
    z-index: 2;
}

div#footer-bk
{
    background-color:#fff;     /* 背景色(白) */
    height:80px;               /* 縦の高さ80px */
    width:100%;                /* 横の幅を100% */
}

div#footer {
    height: 100%;              /* 縦の表示領域はheader-bkと同じ */
    width: 1200px;             /* 横の幅1200px */
    margin: auto;              /* 中央揃え */
}

/* ボディの定義 */
div#body-bk{
    padding:80px 0 80px 0;    /* 上下に80pxを余白を取る */
}

div#body{
    width:1200px;
    margin:auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 85px;
    background-color: #fff;
}

@media screen and (max-width: 480px){
    .spNone { display: none;}
}

@media screen and (max-width: 1024px){
    .spNone1024 { display: none;}
}

@media screen and (min-width: 1025px){
    .ltNone1024 { display: none;}
}

/* お知らせ */
.ticker {
    margin: 1px auto;
    text-align: left;
    position: relative;
    overflow: hidden;
    font-size: 10pt;
    white-space: nowrap;
}

.ticker ul {
    width: 100%;
    position: relative;
}

.ticker ul li {
    width: 100%;
    display: none;
}

div#news-fixed
{
    position: fixed;            /* ヘッダーの固定 */
    top: 50px;                  /* 位置(上50px) */
    left: 0;                    /* 位置(右0px) */
    width: 100%;                /* 横幅100% */
    height: 25px;               /* 縦幅25px */
    z-index: 2;
}

div#news-bk {
    background-color: #FFCC80;  /* 背景色(薄いオレンジ) */
    padding: 3px 8px;           /* 上下3px、左右8pxをあける */
    height: 25px;               /* 縦の高さ25px */
    width: 100%;                /* 横の幅を100% */
}

.news-date, .news-content {
    padding-left: 10px;
}

.news-content a, .news-content-modal a {
    color: #222222;
    text-decoration: underline;
    cursor: pointer;
}

.panel-default.panel-login > .panel-heading {
    font-family: 'HGP創英角ﾎﾟｯﾌﾟ体','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    font-size: 16pt;
    color: #ffffff;
    padding-left: 60px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.panel-default.panel-login {
    border-radius: 13px;
}

/* ログインで利用するソフトキーボード用ボタン */
.btn-keyboard {
    display: inline-block;
    background-color: #fff;
    border: solid 1px #bbb;
    width: 70px;
    height: 70px;
    margin: 5px;
    font-family: 'HGP創英角ﾎﾟｯﾌﾟ体','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
    font-size: 20pt;
}

/* 画面サイズ768px以上の時 */
@media (min-width:768px) {
    .input-gender-dialog .modal-dialog {
        width: 400px;
    }
}

/* ヘッダー固定テーブル */
table.table-headerfixed thead,
table.table-headerfixed tbody,
table.table-headerfixed tr,
table.table-headerfixed td,
table.table-headerfixed th {
    display: block;
}

table.table-headerfixed tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.table-headerfixed tbody {
    height: 220px;
    overflow-y: scroll;
}

table.table-headerfixed thead {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: calc(100% - 17px);
}

table.table-headerfixed tbody td,
table.table-headerfixed thead th {
    float: left;
}